<span id = "addPerson" class="hidden fixed top-1/2 bg-white border-2 border-black left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <form method="POST" id="newUser">
        <button class="absolute top-2 right-4 text-2xl" id="closeBar">
            X
        </button>
        <label for="addUser">User to add to project: <input type="text" name="addUser" required id="addUser" placeholder="Username..."></label>
        <button type="submit" id="submitUser" >Add user</button>
    </form>
</span>

<script>
    document.getElementById("newUser").action = `/project/${parentProject}/addUser `;
    document.getElementById("submitUser").addEventListener("click", async function(){
        event.preventDefault();
        const username = document.getElementById("addUser").value;
        try{
            const response = await fetch(`/project/${parentProject}/addUser`, {
                method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username: username,
                projectID: parentProject
            })
        });
        if (response.ok){
            console.log("User added");
            form.style.display = 'none';
            window.location.href = window.location.href;
        } else {
            console.error("Failed to add user");
        }
    } catch (error) {
        console.error(error);
    }
    });
    document.getElementById("closeBar").addEventListener("click", function(){
        document.getElementById('addPerson').style.display = "none";
    })
</script>