<div id="form">
    <form action="mailto:moravat763@gmail.com" method="post" enctype="text/plain" id="ff">
        <fieldset class="form one">
            <legend>Positive Feedback</legend>
            <label for="name1">Name: 
                <input type="text" id="name1" placeholder="Your name" required minlength="3"> <br> <br>
            </label>
            <label for="email1">Email address: 
                <input type="email" id="email1" name="email" placeholder="youremail@email.com"><br> <br>                    
            </label>
            <label for="extraP1">Comments:
                <textarea name="extraP" id="extraP1" rows="7"></textarea> <br>
            </label>
            
            <input type="submit" value="Submit" class="buttons">
            <input type="reset" value="Reset" class="buttons">
        </fieldset>
    
    </form>
</div>