<html lang="en">
  <%- include("Partials/head") %>

  <body>
    <%- include("Partials/NavigationBars/nav") %>
    <main id="content">
      <div class="create-blog content">
        <form action="/project/create">
          <label for="title">Project Title: </label>
          <input type="text" name="title" id="title" required>
          <div class="title error overflow-hidden"></div>
          
          <label for="description">Project Description: </label>
          <textarea name="description" id="description" required></textarea>
          <div class="description error"></div>
          
          <button>Submit</button>
        </form>
      </div>
    </main>

    <script>
      const form = document.querySelector('form');
      const titleError = document.querySelector('.title.error');
      const descriptionError = document.querySelector('.description.error');
    
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        titleError.textContent = "";
        descriptionError.textContent = "";
    
        // get values
        const title = form.title.value;
        const description = form.description.value;
        const createdBy = "<%= user._id %>"; 
    
        try {
          const res = await fetch('/project/create', {
            method: 'POST',
            body: JSON.stringify({ title, description, createdBy}),
            headers: { 
              'Content-Type': 'application/json',
            },
            credentials: 'same-origin' // Ensure cookies are sent with the request
          });
    
          const data = await res.json();
          console.log(data);
    
          if (data.errors) {
            titleError.textContent = data.errors.title;
            descriptionError.textContent = data.errors.description;
          }
    
          if (data.project) {
            location.assign(`/project/${data.project._id}`); // Redirect to the created project page
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
