<html lang="en">
    <%- include("Partials/head") %>
    <body>
    <%- include("Partials/NavigationBars/nav") %>
    <main class="" id="content">
        <header>
            Welcome to MyNotesToDo!
        </header>
        <div class="para">
            Hi, this is my multi functional and easy to use notes/to do app. It can be used to keep track of tasks you need to do, but 
            its functionality means you can also use it for notes! Do you have multiple projects with tasks or need to split up your notes?
            Don't worry because we have allowed you to make multiple cards and projects, all stored on a secure private database. 
        </div>
        <header> What if I don't want my secure data stored? </header>
        <div class = "para"> 
            Originally, we had a lightweight app that used your device's local storage to store data. This is still available on 
            <a href="https://to-do-list-ogx116psw-m0ravats-projects.vercel.app/">here!</a>
        </div>
        <header> What to do if you encounter a bug </header> 
        <div class="para">
            Since I am the sole creator of this website there may be problems in functionality, <br> whether its specific to a 
            browser or otherwise, feel free to get in touch with the form below:
            <%- include('./Partials/form') %>
        </div>
    </main>

</body>
</html>

