<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/NavigationBars/nav.ejs") %>
    <main class="" id="content">
        <% if (project){ %>
            <header contenteditable="true"><%=projectTitle  %></header>
            <div id="para" contenteditable="true"><%= description %></div>
            <button id="pen">
                <span class="material-symbols-outlined">stylus</span>
            </button>
            <button id="delete">
                <span class="material-symbols-outlined">delete</span>
            </button>
            <h1> > Active To Dos </h1>
            <div class="container" id="c1"></div>
            <h1> > Finished To Dos </h1>
            <div class="container" id="c2"></div>
        <% } else{ %>
            <h1>Project not found</h1>
        <% } %>
    </main>
</body>
</html>