<div class="sidebar" id="sode">
    <h2>MyNotesToDo</h2>
    <ul id="first">
        <li id="home"><button><i class="fas fa-home"></i>  Home</button></li>
        <li><button><i class=""></i> Create User </button></li>
        <li><button><i class=""></i> Login </button></li>

    </ul>
    <button id="extend"><i class="fa-solid fa-bars"></i>Show full screen menu</button>
    <div class="social_media">
      <a href="https://www.linkedin.com/in/muhammad-ravat" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.moravat.me/" target="_blank"><i class="fa-solid fa-landmark"></i></a>
      <a href="https://github.com/m0ravat/ToDoListApp" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</div>