<div class="wrapper">
  <div class="sidebar" id="sode">
      <h2>MyNotesToDo</h2>
      <ul id="first" class="top-0">
          <li id="home"><a href="/"><i class="fas fa-home"></i>  Home</a></li>

      </ul>
      <ul id="second">
        <li><a href="/login"><i class="fas fa-home"></i>Login</a></li>
        <li><a href="/signup"><i class="fas fa-home"></i>Signup</a></li>
      </ul>
      <div class="social_media">
        <a href="https://www.linkedin.com/in/muhammad-ravat" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.moravat.me/" target="_blank"><i class="fa-solid fa-landmark"></i></a>
        <a href="https://github.com/m0ravat/ToDoListApp" target="_blank"><i class="fab fa-github"></i></a>
      </div>
  </div>
</div>